body {
  display: flex;
  background-color: #333;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
}

body,
h1 {
  margin: 0;
  padding: 0;
}

.main-header {
  background-color: hsl(222, 27%, 30%);
  color: yellow;
  overflow: hidden;
  width: 100%;
  height: 100px;
  /* Use Flexbox to center the text */
  display: flex;
  /* Centers the content horizontally */
  justify-content: center;
  /* Centers the content vertically */
  align-items: center;
  margin: 0;
}
